@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowbox:hover {
  box-shadow: 0px 0px 10px 8px rgba(126, 34, 206, 0.9);
}

.parallax-forest {
  background: url("../img/bgImg1.png") repeat fixed 100%;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
